<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-adsense-account" content="ca-pub-2739433982231142">

    <title>{% block title %}Horizon Libre{% endblock %}</title>

    {% if meta %}
    <meta name="description" content="{{ meta.description }}">
    {% endif %}

    <link href="/style.css" rel="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2739433982231142"
     crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body class="bg-gray-50 font-sans">

    <header>
        </header>

    <main class="container mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center py-4">
        </footer>

    <script>
      feather.replace()
    </script>

</body>
</html>