{% extends "base.html.j2" %}
{% set page_url = self.path %}
{% block title %}Accueil - {{ site_name }}{% endblock %}
{% block meta_description %}Analyses, enquêtes et reportages pour une information libre et approfondie, générée par l'IA Aurore et supervisée par des humains.{% endblock %}

{% block content %}
    <h1>Bienvenue sur {{ site_name }}</h1>
    <p>Le média du futur, aujourd'hui.</p>
    {% endblock %}
